extends layout

block content

  button.button Normal button
  button.primary-button Primary button
  button.alert-button Alert button
  button.button(disabled="disabled") Disabled button

  form
    fieldset
      ul
        li
          input[type="text"]
        li
          input[type="search"]
        li
          input[type="email"]
        li
          select
            option(value="select") Select
            option(value="menu") Menu

  h1 H1 Header
  p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus quis convallis velit. Praesent non pretium est, quis varius turpis. Donec at leo ipsum. Maecenas in magna sit amet mauris dapibus dignissim a vitae arcu. Sed semper magna vel felis ultrices, non blandit ipsum luctus. Donec vulputate volutpat imperdiet. Fusce in faucibus nulla, in fringilla eros.

  h2 H2 Header
  p Curabitur justo magna, commodo quis sagittis in, iaculis sit amet velit. In eu hendrerit neque. Nam ornare nibh nibh, et imperdiet urna lobortis et. Praesent a risus nec orci faucibus mollis ac sed enim. Sed turpis nulla, condimentum id laoreet sit amet, vehicula placerat sapien. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Sed aliquet lacinia cursus. Nulla nunc diam, tincidunt quis egestas ut, euismod vitae ligula. Curabitur malesuada pulvinar tempus. Quisque sollicitudin mi nec eros fringilla, nec faucibus dui rhoncus.

  h3 H3 Header
  p Cras dui nisi, laoreet nec justo ac, hendrerit condimentum augue. Morbi sagittis est at leo semper mollis. Sed eleifend augue eget massa mattis porttitor. Duis placerat erat eget erat porttitor ullamcorper eu vulputate arcu. Pellentesque eu mi dui. Aenean vehicula nulla dolor, ac congue felis egestas vitae. Duis magna justo, aliquam ut velit eget, ullamcorper laoreet nisl. Ut ultrices et massa nec imperdiet. Nulla lobortis orci eget sodales gravida. Quisque pharetra non urna ac cursus. Vivamus ultricies dapibus turpis et ultricies.

  h4 H4 Header
  p Cras dui nisi, laoreet nec justo ac, hendrerit condimentum augue. Morbi sagittis est at leo semper mollis. Sed eleifend augue eget massa mattis porttitor. Duis placerat erat eget erat porttitor ullamcorper eu vulputate arcu. Pellentesque eu mi dui. Aenean vehicula nulla dolor, ac congue felis egestas vitae. Duis magna justo, aliquam ut velit eget, ullamcorper laoreet nisl. Ut ultrices et massa nec imperdiet. Nulla lobortis orci eget sodales gravida. Quisque pharetra non urna ac cursus. Vivamus ultricies dapibus turpis et ultricies.

  h5 H5 Header
  p Cras dui nisi, laoreet nec justo ac, hendrerit condimentum augue. Morbi sagittis est at leo semper mollis. Sed eleifend augue eget massa mattis porttitor. Duis placerat erat eget erat porttitor ullamcorper eu vulputate arcu. Pellentesque eu mi dui. Aenean vehicula nulla dolor, ac congue felis egestas vitae. Duis magna justo, aliquam ut velit eget, ullamcorper laoreet nisl. Ut ultrices et massa nec imperdiet. Nulla lobortis orci eget sodales gravida. Quisque pharetra non urna ac cursus. Vivamus ultricies dapibus turpis et ultricies.

  h6 H6 Header
  p Cras dui nisi, laoreet nec justo ac, hendrerit condimentum augue. Morbi sagittis est at leo semper mollis. Sed eleifend augue eget massa mattis porttitor. Duis placerat erat eget erat porttitor ullamcorper eu vulputate arcu. Pellentesque eu mi dui. Aenean vehicula nulla dolor, ac congue felis egestas vitae. Duis magna justo, aliquam ut velit eget, ullamcorper laoreet nisl. Ut ultrices et massa nec imperdiet. Nulla lobortis orci eget sodales gravida. Quisque pharetra non urna ac cursus. Vivamus ultricies dapibus turpis et ultricies.
