html
  font-size: 100%

body, input, button
  font-size: base-font-size
  line-height: base-line-height
  font-family: base-font-family

p
  margin: rhythm(1) 0

h1
  adjust-font-size-to(32px, 2)
  margin: rhythm(1, 32px) 0

h2
  adjust-font-size-to(28px, 2)
  margin: rhythm(1, 28px) 0

h3
  adjust-font-size-to(24px, 2)
  margin: rhythm(1, 24px) 0

h4
  adjust-font-size-to(18px, 2)
  margin: rhythm(1, 32px) 0

h5
  adjust-font-size-to(14px, 1)
  margin: rhythm(1, 14px) 0

h6
  adjust-font-size-to(14px, 1)
  margin: rhythm(1, 14px) 0
  color: text-color-alt
