// Monochrome colors
white =         #FFF
gray-lighter =  #E5E5E5
gray-light =    #BFBFBF
gray =          #7D7D7D
gray-dark =     #636363
gray-darker =   #3D3D3D
black =         #000

// Base colors
green =   green
cyan =    cyan
blue =    blue
yellow =  yellow
orange =  orange
red =     red
purple =  purple

// Text colors
text-color =      gray-dark
text-color-alt =  gray

// Typography
base-font-size =    14px
base-line-height =  20px
base-font-family =  Helvetica, "Helvetica Neue", Arial

